html {
  font-size: 10px;
}


h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 40px;
  text-align: center;
}

html {
  background-color: #00539F;
}

p, li {
  font-size: 30px;
  line-height: 2;
  letter-spacing: 1px;
}


body {
  width: 900px;
  margin: 0 auto;
  padding: 0 10px 10px 10px;
  border: 5px solid black;
  background-color:#FF6347;

}
img {
  display: block;
  margin: 0 auto;

}